<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="2">
        <tr><td>product id</td><td>productname</td><td>product desc</td><td>product price</td> <td>product img</td><td>product discount</td></tr>
   
        <tr><td>{{res.id}}</td><td>{{res.pname}}</td><td>{{res.pdesc}}</td><td>{{res.pprice}}</td> <td><img src="{{res.pimg.url}}" width="75" height="75"></td><td>{{res.discount}}</td></tr>

    </table>
</body>
</html>